div.inactive {
  display: none;
}

div.active {
  font-family: Arial, sans-serif;
  position: relative;
  text-align: center;
}

nav {
  position: relative;
  padding: auto;
  margin: 50px;
  text-align: center;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}